<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPCYCLE WEAR - {{ user.username }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos aquí */
    </style>
</head>
<body>
    {% include 'estructura/menu.html' %}
    <div class="container-fluid">
        <div class="perfil-container">
            <div class="perfil-header">
                <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" class="perfil-imagen2" />
                <div class="descripcion">
                    <h2>Perfil de {{ usuario.username }}</h2>
                    <div class="info">
                        <label>Descripción:</label>
                        <p>{{ usuario.descripcion }}</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <label>Teléfono:</label>
                <p>{{ usuario.telefono }}</p>
            </div>
            <button id="iniciar-conversacion" data-usuario-username="{{ usuario.username }}" class="btn btn-primary">Iniciar Conversación</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        document.querySelectorAll('[id^="iniciar-conversacion"]').forEach(button => {
     button.onclick = function() {
         const usuarioUsername = this.getAttribute('data-usuario-username');
 
         fetch(`/crear-conversacion/${usuarioUsername}/`, {
             method: 'GET',
             headers: {
                 'X-CSRFToken': '{{ csrf_token }}'
             }
         })
         .then(response => {
             if (!response.ok) {
                 throw new Error('Error en la respuesta de la red');
             }
             return response.json();
         })
         .then(data => {
             if (data.conversacion_id) {
                 window.location.href = `/chat/?conversacion_id=${data.conversacion_id}`; 
             } else {
                 alert('Error al crear o abrir la conversación');
             }
         })
         .catch(error => {
             console.error('Error al crear o abrir la conversación:', error);
         });
     };
 });
 
     </script>
 
    {% include 'estructura/footer.html' %}
</body>
</html>
