<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Reportes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% include 'estructura/menu.html' %}

<div class="container my-4">
    <h2 class="text-center">Gestión de Reportes de Usuarios</h2>
    <p class="text-center">Revisa y actualiza el estado de los reportes de usuarios.</p>

    <!-- Filtro de Motivo y Estado -->
    <form method="get" action="" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <label for="motivo" class="form-label">Filtrar por Motivo</label>
                <select name="motivo" id="motivo" class="form-select">
                    <option value="TODOS" {% if selected_motivo == "TODOS" %}selected{% endif %}>Todos</option>
                    {% for key, value in MOTIVOS_REPORTE %}
                        <option value="{{ key }}" {% if selected_motivo == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="estado" class="form-label">Filtrar por Estado</label>
                <select name="estado" id="estado" class="form-select">
                    <option value="" {% if not selected_estado %}selected{% endif %}>Todos</option>
                    {% for key, value in ESTADOS_REPORTE %}
                        <option value="{{ key }}" {% if selected_estado == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-3 text-center">
            <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
        </div>
    </form>

    {% for reporte in reportes %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Reporte de {{ reporte.usuario_reportante }} sobre {{ reporte.usuario_reportado }}</h5>
            <p><strong>Motivo:</strong> {{ reporte.get_motivo_display }}</p>
            <p><strong>Descripción:</strong> {{ reporte.descripcion }}</p>
            <p><strong>Fecha:</strong> {{ reporte.fecha_creacion|date:"d/m/Y H:i:s" }}</p>
            <p><strong>Estado:</strong> {{ reporte.get_estado_display }}</p>
            <!-- Mostrar resultado si el estado es Resuelto o Rechazado -->
            {% if reporte.estado == 'RESUELTO' or reporte.estado == 'RECHAZADO' %}
                <p><strong>Resultado:</strong> {{ reporte.resultado }}</p>
            {% endif %}
            <!-- Agregar el email del usuario reportante aquí -->
            <button class="btn btn-success resolveButton" data-id="{{ reporte.id_reporte }}" data-email="{{ reporte.usuario_reportante.email }}">Marcar como Resuelto</button>
            <button class="btn btn-danger rejectButton" data-id="{{ reporte.id_reporte }}" data-email="{{ reporte.usuario_reportante.email }}">Rechazar</button>
            <button class="btn btn-warning reviewButton" data-id="{{ reporte.id_reporte }}" data-email="{{ reporte.usuario_reportante.email }}">Marcar como Revisado</button>

        </div>
    </div>
    {% endfor %}
</div>

<script>
function showModal(reportId, action, email) {
    Swal.fire({
        title: action === 'RESUELTO' ? 'Marcar como Resuelto' : 'Rechazar Reporte',
        text: 'Ingrese el resultado de esta acción:',
        input: 'textarea',
        inputPlaceholder: 'Escriba el resultado aquí...',
        showCancelButton: true,
        confirmButtonText: action === 'RESUELTO' ? 'Marcar como Resuelto' : 'Rechazar',
        cancelButtonText: 'Cancelar',
        inputValidator: (value) => {
            if (!value) {
                return 'Debe ingresar un resultado';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const resultado = result.value;
            const csrfToken = document.getElementById('csrf_token').value;
            fetch(`/actualizar_estado_reporte/${reportId}/${action}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ estado: action, resultado: resultado })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire('¡Éxito!', 'El reporte ha sido actualizado. Se ha notificado al Email del Usuario: ' + email, 'success')
                    .then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire('Error', 'No se pudo enviar correo.', 'error')
                    .then(() => {
                        location.reload();
                    });
                }
            });
        }
    });
}

document.querySelectorAll('.resolveButton').forEach(button => {
    button.addEventListener('click', function() {
        const reportId = this.getAttribute('data-id');
        const email = this.getAttribute('data-email');
        showModal(reportId, 'RESUELTO', email);
    });
});

document.querySelectorAll('.rejectButton').forEach(button => {
    button.addEventListener('click', function() {
        const reportId = this.getAttribute('data-id');
        const email = this.getAttribute('data-email');
        showModal(reportId, 'RECHAZADO', email);
    });
});


document.querySelectorAll('.reviewButton').forEach(button => {
    button.addEventListener('click', function() {
        const reportId = this.getAttribute('data-id');
        const csrfToken = document.getElementById('csrf_token').value;

        // Realizar la solicitud POST para cambiar el estado a 'REVISADO'
        fetch(`/actualizar_estado_revisado/${reportId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Usar SweetAlert para mostrar el mensaje de éxito
                Swal.fire({
                    title: '¡Éxito!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página
                });
            } else {
                // Mostrar mensaje de error con SweetAlert
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        })
        .catch(error => {
            // Manejar errores de la solicitud
            Swal.fire({
                title: 'Error',
                text: 'Ocurrió un error al intentar actualizar el estado.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        });
    });
});

</script>

</body>
{% include 'estructura/footer.html' %}
</html>
