
</main>
   {% load static %}
   <!-- ======= Footer ======= -->

   <footer id="footer" class="footer" style="background-color: #f8f9fa; padding: 10px 20px; text-align: center; position: fixed; left: 0; bottom: 0; width: 100%;">
    <div class="copyright">
        &copy; Copyright <strong><span>Upcycle Wear</span></strong>. All Rights Reserved 
    </div>
    <div class="credits">
        Designed by <a href="{% url 'principal' %}">Upcycle Wear</a>
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</html>