/* PALETA DE COLORES */
:root {
  --dark-moss-green: #4d570fff;
  --sage: #babf95ff;
  --ecru: #c4ad83ff;
  --ecru-2: #c6b677ff;
  --satin-sheen-gold: #b99527ff;

  --gradient-top: linear-gradient(0deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-right: linear-gradient(90deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-bottom: linear-gradient(180deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-left: linear-gradient(270deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-top-right: linear-gradient(45deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-bottom-right: linear-gradient(135deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-top-left: linear-gradient(225deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-bottom-left: linear-gradient(315deg, #4d570f, #babf95, #c4ad83, #c6b677, #b99527);
  --gradient-radial: radial-gradient(#4d570f, #babf95, #c4ad83, #c6b677, #b99527);
}



.container {
  width: 100vw;
  height: 2800px !important;
  overflow: hidden; /* Evita el scroll dentro del contenedor */
  display: flex;
  flex-direction: column;
}

/* Estilo de cada sección */
.section {
  width: 100%;
  flex-grow: 1; /* Permite que las secciones se expandan para llenar el contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Texto blanco para contraste */
  font-size: 24px;
  text-align: center;
  padding: 20px; /* Espacio interno para mejor visualización */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejor separación */
}

/* Colores de fondo para cada sección */
#section1 {
  height: 100vh; /* Ocupar el 100% de la altura de la ventana */
  display: flex;
  justify-content: space-between;
  background-color: var(--ecru); /* Cambridge Blue */
}

#section2 {
  background-color: var(--dark-moss-green); /* Wenge */
}

#section3 {
  background-color: var(--satin-sheen-gold); /* Light Green */
}

/* Estilo para el contenedor de la imagen y los botones */

.left-half {
  flex: 1; /* Ocupa el espacio disponible */
  display: flex;
  align-items: center; /* Centra verticalmente la imagen dentro del contenedor */
  margin-right: 0; /* Elimina el margen negativo para evitar solapamiento */
}

.person-holding {
  max-width: 100%; /* Ajusta el tamaño de la imagen para que se ajuste al contenedor */
  height: auto;
  object-fit: contain;
  margin-right: 0; /* Elimina el margen derecho para evitar solapamiento */
}

.login-container {
  background-color: var(--sage);
  padding: 20px; /* Espacio interno para los botones */
  width: 300px;
  max-width: 100%; /* Ajusta el tamaño máximo para que se ajuste al contenedor */
  border-radius: 8px; /* Redondea las esquinas del contenedor */
  margin-top: 0; /* Ajusta el margen superior para una mejor alineación */
  margin-left: 20px; /* Ajusta el margen izquierdo para separar de la imagen */
}

.login-buttons {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--dark-moss-green);
  border-color: var(--ecru-2);
  color: #fff;
}

.btn-secondary {
  background-color: var(--dark-moss-green);
  border-color: var(--ecru-2);
  color: #fff;
}

/* Espaciado entre los botones */
.mb-2 {
  margin-bottom: 10px;
}


/* MODAL */
.modal-content {
  border-radius: 10px;
  background-color: var(--sage);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente el contenido */
  justify-content: center; /* Centrar verticalmente el contenido */
  text-align: center; /* Asegurar que el texto también esté centrado */
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegura que el modal esté centrado verticalmente en la pantalla */
}

/* Botones del modal */
.btn-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 200px;
  background-color: var(--dark-moss-green);
  margin: 10px; /* Añadir espacio entre los botones */
  padding-left: 10px; /* Añadir padding para separar el icono del borde izquierdo */
}

/* Icono dentro del botón */
.btn-logo i {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 20px; /* Tamaño del ícono ajustado */
}



.header {
    text-align: center;
    padding: 50px 0;
    background-color: #2c3e50;
    color: white;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.image img {
    width: 500px;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
}

.intro {
    background-color: #ffffff23;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px 0;
}
.intro h2 {
    color: white;
    font-size: 28px;
    text-align: center;
}
.intro p {
    color: white;
    line-height: 1.6;
}
.section {
    margin: 40px 0;
}
.section h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}
.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section li {
    background: #e7e7e727;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    color: white;
}
.section li:hover {
    transform: translateX(10px);
    color: #2c3e50;
    background-color: #d0d0d0;
}

.section li i {
    margin-right: 10px;
    color: rgb(0, 68, 255);
}


@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }
    .intro h2, .section h2 {
        font-size: 22px;
    }
    .section li {
        font-size: 14px;
    }
}

.half-section {
    display: flex;
    flex-wrap: wrap;
}
.half-section .half {
    flex: 1;
    padding: 10px;
}
@media (max-width: 768px) {
    .half-section .half {
        width: 100%;
    }
}

.section-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}
.description {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 15px;
}
.subsection-title {
    color: #ffffff;
    border-bottom: 2px solid #fcfcfc;
    padding-bottom: 10px;
    margin-top: 20px;
}
.services-list {
    margin-top: 0;
    padding-left: 20px;
    color: #ffffff;
}
.service-item {
    margin-bottom: 10px;
}

.servicios {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: #fff; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0 0 300px rgba(255, 255, 255, 0.3); /* Sombra suave blanca */
}
.section-title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 15s ease-out forwards; /* Animación de desvanecimiento */
    font-family: 'Arial', sans-serif;
    color: rgb(5, 5, 65); /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin: 0;
      padding: 20px;
      background: linear-gradient(to right, #eeff00, black); /* Degradado de colores fluorescentes */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
  }
  @keyframes fadeIn {
    from {
      opacity: 0; /* Comienza transparente */
    }
    to {
      opacity: 1; /* Termina completamente visible */
    }
  }