<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load custom_filters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Donación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Nunito:300,400,600,700|Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Validación al intentar enviar el formulario
            $("#donacionFormMod").submit(function(event) {
                event.preventDefault(); // Evita el envío del formulario
                var isValid = true; // Variable para comprobar si el formulario es válido
    
                // Limpia las validaciones previas
                var inputs = this.querySelectorAll('.form-control');
             

                inputs.forEach(function(input) {
                    input.classList.remove('is-invalid');
                    input.classList.remove('is-valid');
                });
    
                // Obtener los valores actuales de los campos
                const titulo = $("#titulo").val();
                const tipoRopa = $("#tipo_ropa").val();
                const talla = $("#talla").val();
                const temporada = $("#temporada").val();
                const descripcion = $("#descripcion").val();
                const foto = $("#foto").val();
                const usuario = $("#usuario").val();
                const receptor = $("#receptor").val();
                
    
                // Limpiar mensajes de error anteriores
                $("#tituloError").text('').hide();
                $("#tipoRopaError").text('').hide();
                $("#tallaError").text('').hide();
                $("#temporadaError").text('').hide();
                $("#descripcionError").text('').hide();
                $("#fotoError").hide();
    
                // Validar cada campo
                inputs.forEach(function(input) {
                    if (!input.value.trim()) { // Verifica si el campo está vacío
                        input.classList.add('is-invalid'); // Añade clase de error
                        isValid = false; // Marca como inválido
                    } else {
                        input.classList.add('is-valid'); // Añade clase de éxito
                    }
                });
    
                // Validar longitud de título: entre 5 y 100 caracteres
                if (titulo.length < 5 || titulo.length > 100) {
                    $("#tituloError").text("Por favor, ingrese entre 5 y 100 caracteres en el campo de Título.").show();
                    $("#titulo").addClass("is-invalid");
                    isValid = false;
                }
    
                // Validar longitud de descripción: entre 5 y 1000 caracteres
                if (descripcion.length < 5 || descripcion.length > 1000) {
                    $("#descripcionError").text("Por favor, ingrese entre 5 y 1000 caracteres en el campo de Descripción.").show();
                    $("#descripcion").addClass("is-invalid");
                    isValid = false;
                }
                
                 // Primero, eliminamos el mensaje de error anterior si existe
                $("#tipoRopaError").remove();

                // Validar selección de tipo de ropa
                if (tipoRopa === "" || tipoRopa === "Seleccione una opción") {
                    // Remover cualquier mensaje de error previo y clase antes de agregar uno nuevo
                    $("#tipoRopaError").remove();
                    $("#tipo_ropa").removeClass("is-invalid");

                    // Crear y mostrar el mensaje de error nuevamente
                    var errorDiv = $("<div id='tipoRopaError' class='invalid-feedback'>Por favor, seleccione un tipo de ropa.</div>");
                    $("#tipo_ropa").after(errorDiv);
                    $("#tipo_ropa").addClass("is-invalid");
                    isValid = false;
                } else {
                    // Si la selección es válida, remover cualquier mensaje de error y clase
                    $("#tipoRopaError").remove();
                    $("#tipo_ropa").removeClass("is-invalid");
                }
    
                // Validar talla y temporada
                if (talla === "") {
                    $("#tallaError").text("Por favor, ingrese la talla.").show();
                    $("#talla").addClass("is-invalid");
                    isValid = false;
                }
    
                // Validar temporada
                const temporadasPermitidas = ["verano", "invierno", "primavera", "otoño", "otoño-invierno", "primavera-verano", "resort", "pre-primavera"]; // Lista de temporadas permitidas

                // Convertir la entrada a minúsculas para la comparación
                const temporadaLower = temporada.toLowerCase();

                if (!temporadasPermitidas.includes(temporadaLower)) {
                    if (temporada === "") {
                        $("#temporadaError").text("Por favor, ingrese la temporada.").show();
                    } else {
                        $("#temporadaError").text("Temporada no válida. Las opciones permitidas son: " + temporadasPermitidas.map(t => t.charAt(0).toUpperCase() + t.slice(1)).join(", ") + ".").show();
                    }
                    $("#temporada").addClass("is-invalid");
                    isValid = false;
                }
    
                // Validar si la foto ha sido seleccionada (comentado o eliminado porque ahora es opcional)
                // if (foto === "") {
                //     $("#fotoError").text("Por favor, suba una foto.").show();
                //     $("#foto").addClass("is-invalid");
                //     isValid = false;
                // }

                // Validar selección de usuario (evita opción predeterminada o vacía)
                if (!usuario || usuario === "Seleccione una opción") {
                    $("#usuarioError").text("Por favor, seleccione un usuario.").show();
                    $("#usuario").addClass("is-invalid");
                    isValid = false;
                }
    
                // Validar selección de donador (evita opción predeterminada o vacía)
                if (!receptor || receptor === "Seleccione una opción") {
                    $("#receptorError").text("Por favor, seleccione un receptor.").show();
                    $("#receptor").addClass("is-invalid");
                    isValid = false;
                }
                 // Cambio de texto en el input de archivo
                // Cambio de texto en el input de archivo
                // Cambio de texto en el input de archivo
                $('#foto').on('change', function() {
                    var fileName = $(this).val().split('\\').pop(); // Obtiene el nombre del archivo
                    if (fileName) {
                        $(this).next('.custom-file-label').html(`Actualmente: ${fileName}`); // Muestra el nombre del archivo
                    } else {
                        $(this).next('.custom-file-label').html('Sin archivos seleccionados'); // Si no se seleccionó archivo, muestra el texto por defecto
                    }

                    // Mostrar imagen seleccionada
                    var file = this.files[0]; // Obtiene el archivo seleccionado
                    if (file) {
                        var reader = new FileReader();
                        
                        // Función que se ejecuta cuando el archivo se ha leído correctamente
                        reader.onload = function(e) {
                            $('#imagePreview').show(); // Muestra el contenedor de la imagen
                            $('#currentImage').attr('src', e.target.result); // Establece la URL de la imagen previsualizada
                        };
                        
                        // Lee el archivo como una URL de datos (esto permitirá mostrarlo como imagen)
                        reader.readAsDataURL(file);
                    } else {
                        $('#imagePreview').hide(); // Oculta el contenedor de la imagen si no hay archivo seleccionado
                    }
                });

                // Alerta de error si el formulario es inválido
                if (!isValid) {
                    // Mostrar algún tipo de alerta si el formulario es inválido, si lo deseas.
                    console.log("Formulario inválido");
                } else {
                    this.submit(); // Enviar formulario si todo es válido
                }
            });
            

        });
    </script>
    
</head>
<body>
    {% include 'estructura/menu.html' %}
    <div class="container mt-5">
        <div class="card mb-3">
            <div class="card-body">
                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Actualizar Donación</h5>
                    <p class="text-center small">Modifica los datos de la donación</p>
                </div>

                <form id="donacionFormMod" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    
                    <!-- Campo ID -->
                    <div class="col-12">
                        <label for="id_id" class="form-label">ID</label>
                        <input type="text" name="id" id="id_id" value="{{ form.instance.id }}" readonly class="form-control">
                    </div>

                    <!-- Campo Título -->
                    <div class="col-12">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" name="titulo" id="titulo" value="{{ form.instance.titulo }}" class="form-control" required>
                        <div id="tituloError" class="text-danger invalid-feedback">{{ form.titulo.errors }}</div>
                    </div>

                    <!-- Tipo de Ropa -->
                    <div class="form-group mb-4">
                        <label for="{{ form.tipo_ropa.id_for_label }}">Tipo de Ropa</label>
            
                        {{ form.tipo_ropa|add_class:"form-control" }}
                        <div id="tipoRopaError" class="text-danger invalid-feedback" style="display: none;"></div>
                    </div>
          

                    <!-- Campo Talla -->
                    <div class="col-12">
                        <label for="talla" class="form-label">Talla</label>
                        <input type="text" name="talla" id="talla" value="{{ form.instance.talla }}" class="form-control" required>
                        <div id="tallaError" class="text-danger invalid-feedback">{{ form.talla.errors }}</div>
                    </div>
                    <!-- Campo Temporada -->
                    <div class="col-12">
                        <label for="temporada" class="form-label">Temporada</label>
                        <input type="text" name="temporada" id="temporada" value="{{ form.instance.temporada }}" class="form-control" required>
                        <div id="temporadaError" class="text-danger invalid-feedback">{{ form.temporada.errors }}</div>
                    </div>

                    <!-- Campo Descripción -->
                    <div class="col-12">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" required>{{ form.instance.descripcion }}</textarea>
                        <div id="descripcionError" class="text-danger invalid-feedback">{{ form.descripcion.errors }}</div>
                    </div>

                    <!-- Campo Foto (opcional) -->
                    <div class="form-group position-relative">
                        <label for="{{ form.foto.id_for_label }}" class="form-label">Foto (opcional)</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="foto" name="foto">
                            <label class="custom-file-label" for="foto"></label>
                        </div>
                        
                        <!-- Mostrar la imagen actual si ya existe -->
                        {% if form.foto.value %}
                            <div id="currentImageContainer" style="margin-top: 10px; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                                <p>Actualmente: <a href="{{ form.foto.value.url }}" target="_blank">Ver imagen actual</a></p>
                                <img src="{{ form.foto.value.url }}" alt="Imagen actual" style="max-width: 100%; max-height: 200px; border-radius: 5px;">
                            </div>
                        {% else %}
                            <div id="currentImageContainer" style="display: none;"></div>
                        {% endif %}
                        
                        <!-- Contenedor para la imagen previsualizada -->
                        <div id="imagePreview" style="display: none; margin-top: 10px; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                            <p>Previsualización de la imagen:</p>
                            <img id="currentImage" src="#" alt="Imagen seleccionada" style="max-width: 100%; max-height: 200px; border-radius: 5px;">
                        </div>
                    
                        <div id="fotoError" class="text-danger invalid-feedback" style="display: none;"></div> <!-- Contenedor para el mensaje de error -->
                    </div>
                    <!-- Campo Estado -->
                    <div class="col-12">
                        <label for="estado" class="form-label">Estado</label>
                        <select name="estado" id="estado" class="form-control" required>
                            <option value="disponible" {% if form.instance.estado == 'disponible' %}selected{% endif %}>Disponible</option>
                            <option value="en_proceso" {% if form.instance.estado == 'en_proceso' %}selected{% endif %}>En proceso</option>
                            <option value="donado" {% if form.instance.estado == 'donado' %}selected{% endif %}>Donado</option>
                        </select>
                        <div id="estadoError" class="text-danger invalid-feedback">{{ form.estado.errors }}</div>
                    </div>
                    <!-- Campo Dueño donacion -->
                    <div class="col-12">
                        <label for="usuario" class="form-label">Dueño Donación:</label>
                        <select name="usuario" id="usuario" class="form-control">
                            <option value="">Selecciona un dueño</option>
                            {% for usuario in usuarios %}
                                <option value="{{ usuario.id }}" {% if form.instance.usuario.id == usuario.id %}selected{% endif %}>{{ usuario.username }}</option>
                            {% endfor %}
                        </select>
                        <div id="usuarioError" class="text-danger invalid-feedback">{{ form.receptor.errors }}</div>
                    </div>
                    <!-- Campo Receptor donacion -->
                    <div class="col-12">
                        <label for="receptor" class="form-label">Receptor</label>
                        <select name="receptor" id="receptor" class="form-control">
                            <option value="">Selecciona un receptor</option>
                            {% for usuario in usuarios %}
                                <option value="{{ usuario.id }}" {% if form.instance.receptor.id == usuario.id %}selected{% endif %}>{{ usuario.username }}</option>
                            {% endfor %}
                        </select>
                        <div id="receptorError" class="text-danger invalid-feedback">{{ form.receptor.errors }}</div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Actualizar Donación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% include 'estructura/footer.html' %}
</body>
</html>
