<div class="container mt-5">
    <h1 class="mb-4">Eliminar {{ tipo }}</h1>
    <div class="alert alert-warning">
        <p>¿Estás seguro de que deseas eliminar "{{ objeto }}"?</p>
        <p>Esta acción no se puede deshacer.</p>
    </div>
    
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'lista_fundaciones' %}" class="btn btn-secondary">Cancelar</a>  <!-- Cambia según corresponda -->
    </form>
</div>