<div class="notificacion-detail">
    <h1>Detalle de Notificación</h1>
    
    <div>
      <strong>Usuario:</strong> {{ notificacion.usuario.username }}<br>
      <strong>Mensaje:</strong> {{ notificacion.mensaje }}<br>
      <strong>Fecha:</strong> {{ notificacion.fecha }}<br>
      <strong>Leída:</strong> {{ notificacion.leida|yesno:"Sí,No" }}<br>
      <strong>Respuesta:</strong> {{ notificacion.respuesta }}<br>
      <strong>Petición:</strong> {{ notificacion.peticion.titulo }}<br>
    </div>

    <!-- Marcar como leída -->
    {% if notificacion.leida == False %}
      <form method="post" action="{% url 'marcar_como_leida' notificacion.id %}">
        {% csrf_token %}
        <button type="submit">Marcar como leída</button>
      </form>
    {% else %}
      <p>Ya has leído esta notificación.</p>
    {% endif %}
  </div>