<div class="card">
    <div class="card-body">
        <div class="modal fade" id="basicModal" tabindex="-1" aria-labelledby="basicModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="basicModalLabel">Reportar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <legend class="w-auto px-2">Detalles del Reporte</legend><br><br>

                                    <!-- Usuario Reportado (este campo puede ser oculto si se pasa desde el contexto) -->
                                    <input type="hidden" name="usuario_reportado" value="{{ usuario.id }}">
                                    <br>
                                    <div class="form-group">
                                        <label for="motivo">Motivo</label>
                                        {{ reporte_form.motivo|add_class:"form-control" }}
                                        {% if reporte_form.motivo.errors %}
                                            <div class="text-danger">{{ reporte_form.motivo.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="descripcion">Descripción (Opcional)</label>
                                        {{ reporte_form.descripcion|add_class:"form-control" }}
                                        {% if reporte_form.descripcion.errors %}
                                            <div class="text-danger">{{ reporte_form.descripcion.errors }}</div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="reporteForm" class="btn btn-primary">Enviar Reporte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
