<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Upcycle Wear - Mi Perfil</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>
    {% load static %}
  {% include 'estructura/menu.html' %}
 


    <div class="pagetitle">
      <h1>Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item">Usuario</li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ user.foto_perfil.url }}" alt="Profile" class="rounded-circle">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
              <div class="social-links mt-2">

                <a href="{{ user.facebook }}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="{{ user.instagram }}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="{{ user.linkedin }}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vista previa</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar perfil</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuración</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar contraseña</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Descripción</h5>
                  <p class="small fst-italic">{{ user.descripcion }}</p>

                  <h5 class="card-title">Detalles perfil</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nombre</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Dirección:</div>
                    <div class="col-lg-9 col-md-8">{{ user.direccion }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Teléfono</div>
                    <div class="col-lg-9 col-md-8">{{ user.telefono }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <label for="foto_perfil" class="col-md-4 col-lg-3 col-form-label">Foto de perfil</label>
                        <div class="col-md-8 col-lg-9">
                            <img id="foto_perfil" src="{{ user.foto_perfil.url|default:'static/img/nofoto.jpg' }}" alt="Profile" style="max-width: 150px;">
                            <div class="pt-2">
                                <input type="file" id="fileInput" name="foto_perfil" style="display:none;" accept="image/*" onchange="previewImage(event)">
                                <button type="button" class="btn btn-primary btn-sm" title="Upload new profile image" onclick="document.getElementById('fileInput').click();">
                                    <i class="bi bi-upload"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="removeImage();">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                      <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="first_name" type="text" class="form-control" id="first_name" value="{{ user.first_name }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Apellidos</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="last_name" type="text" class="form-control" id="last_name" value="{{ user.last_name }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="about" class="col-md-4 col-lg-3 col-form-label">Descripción</label>
                          <div class="col-md-8 col-lg-9">
                              <textarea name="descripcion" class="form-control" id="descripcion" style="height: 100px">{{ user.descripcion }}</textarea>
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="company" class="col-md-4 col-lg-3 col-form-label">Dirección</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="direccion" type="text" class="form-control" id="direccion" value="{{ user.direccion }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="Job" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="telefono" type="text" class="form-control" id="telefono" value="{{ user.telefono }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="Country" class="col-md-4 col-lg-3 col-form-label">Email</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="email" type="text" class="form-control" id="email" value="{{ user.email }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="facebook" type="text" class="form-control" id="Facebook" value="{{ user.facebook }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="instagram" type="text" class="form-control" id="Instagram" value="{{ user.instagram }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="linkedin" type="text" class="form-control" id="Linkedin" value="{{ user.linkedin }}">
                          </div>
                      </div>
              
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Guardar cambios</button>
                      </div>
                  </form><!-- End Profile Edit Form -->
              </div>
              
           
              
          

               
                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="post" action="{% url 'mi_perfil' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Campos del perfil -->
                    <input name="first_name" type="text" value="{{ user.first_name }}">
                    <input name="last_name" type="text" value="{{ user.last_name }}">
                    <!-- Otros campos de usuario -->
                    
                    <!-- Manejo de la foto de perfil -->
                    <input type="file" name="foto_perfil">
                
                    <!-- Cambiar contraseña -->
                    <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="password" type="password" class="form-control" id="currentPassword">
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                        </div>
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                <!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    {% load static %}
    <script>
      function previewImage(event) {
          const image = document.getElementById('foto_perfil');
          image.src = URL.createObjectURL(event.target.files[0]);
      }
  
      function removeImage() {
          const image = document.getElementById('foto_perfil');
          image.src = "{% static 'img/nofoto.jpg' %}";  // Cambia a la imagen por defecto
          document.getElementById('fileInput').value = "";  // Limpia el input de archivo
      }
  </script>
    {% include 'estructura/footer.html' %}